body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

button {
    background-color: #4681f4;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%;
    width: 100%;
    display: block;
    white-space: nowrap;
}

button:hover {
    background-color: #84a5e9;
}